section {
    width: 400px;
    background-color: pink;
    margin: 0 auto;
    text-align: center;
    min-height: 2;
 

}
.title {
    color: white;
 

}
.title:hover {
    color: black;
    
}

.quote0{
    color: white;
    font-size: xx-small;
    text-align: center;
    /*min-height: 10px auto;*/

}

.quote1 {
    color:white;
    font-size: xx-small;
    text-align: center;
    /*min-height: 10px auto;*/

 

}
.quote2 {
    color: white;
    font-size: x-small;
}

.list {
    text-align: left;
    min-height: 15px;
}

.quote3 {
    color: white; 
    text-align: center;
    margin: 15px auto;
    max-width: 35%;
    min-height: 20px;

}
.quote4 {

    margin: auto;
    max-width: 10px auto;
    font-size: xx-small;
    text-align: center;
    min-height: 10px;
    
}

.quote5 {
    margin: auto;
    max-width: 10px auto;
    font-size: xx-small;
    text-align: center;
    min-height: 10px auto;
}

.quote6 {
    margin: auto;
    max-width: 10px auto;
    font-size: xx-small;
    text-align: center;
    min-height: 10px auto;
    

}

.bottom{
    font-size: 10pt;
    text-align: center;
    font-weight: bold;
}

